__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env
# *.db  # in this case, we're going to include database files for demo purposes
*.sqlite
*.sqlite3
.pytest_cache/
.coverage
htmlcov/
dist/
*.egg-info/